<div class="mb-3">
    <a asp-area="" asp-controller="Reports" asp-action="Audit" class="btn btn-primary" onclick="spinner()">Stock Audit</a>
</div>
<div>
    <a asp-area="" asp-controller="Reports" asp-action="Sales" class="btn btn-primary" onclick="spinner()">Sales</a>
</div>
<div class="loader">
    <div class="loading"></div>
</div>

<script type="text/javascript">
    function spinner() {
        document.getElementsByClassName("loader")[0].style.display = "block";
    }
</script>