<div class="mb-3">
    <button class="btn btn-primary">
        <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Audit">Stock Audit</a>
    </button>
</div>
<div>
    <button class="btn btn-primary">
        <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Sales">Sales</a>
    </button>

</div>


