@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button>Add New Product</button>
    <button>Amend Product</button>
    <button>Remove Product</button>
</div>
