@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Core Strength Yoga Products: Stock Management System</h1>
    <button class="primary-btn site-btn mb-2">Add New Product</button>
    <button class="primary-btn site-btn mb-2">Amend Product</button>
    <button class="primary-btn site-btn mb-2">Remove Product</button>
</div>
